{
    "env": {
      "node": true
    },
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "arrowFunctions": true,
        "templateStrings": true,
    },
    "rules": {
        "semi": 0,
        "no-unused-vars": 0,
        "quotes": 0,
        "curly": 0
    }
}
